@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400&display=swap");
body {
  font-family: 'M PLUS Rounded 1c', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*-----HEADER-----*/
.container-fluid {
  background-color: #f4f1ec; }

.navbar-brand {
  font-size: 25px;
  font-style: normal;
  letter-spacing: 8px;
  padding: 15px; }

.nav-item {
  display: inline-block;
  margin: 20px 20px 20px;
  color: #454543;
  font-weight: 40px; }

.nav-link {
  color: #454543;
  font-size: 12px;
  font-weight: 400; }

@media screen and (max-width: 699px) {
  .album > div {
    margin: 10px; } }

/*-----MAIN-----*/
/*--INDEX--*/
main {
  width: 100%;
  height: 100%; }
  main section div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px; }
    main section div div {
      width: 318px;
      height: 475px;
      margin-bottom: 20px;
      text-align: center;
      background-color: rgba(240, 238, 238, 0.726);
      display: inline-block;
      box-shadow: 6px 10px 20px -7px rgba(0, 0, 0, 0.82);
      -webkit-box-shadow: 6px 10px 20px -7px rgba(0, 0, 0, 0.82);
      -moz-box-shadow: 6px 10px 20px -7px rgba(0, 0, 0, 0.82);
      transition: 400ms; }
      main section div div:hover {
        transform: scale(1.1); }
      main section div div img {
        width: 318px;
        height: 424px; }
      main section div div p {
        padding: 15px;
        font-size: 12px;
        font-weight: 50px;
        line-height: 34px;
        letter-spacing: 4px;
        text-align: center; }

/*--BLOG--*/
/*--BODAS--*/
/*--RETRATOS--*/
/*-----FOOTER-----*/
footer {
  background-color: #f4f1ec;
  display: flex;
  justify-content: center; }
  footer div a img {
    margin: 20px;
    width: 25px;
    height: 25px; }
