/*-----FOOTER-----*/
footer{
    background-color: rgb(244, 241, 236);
    display: flex;
    justify-content: center;
    div{        
        a{
            img{
                margin: 20px;
                width: 25px;
                height: 25px;
            }
        }
    }
}