@import "./mediaquerie"; 
/*-----MAIN-----*/

/*--INDEX--*/
main {
    width: 100%;
    height: 100%;
    section{
        div{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px;
        div{
        width: 318px;
        height: 475px;
        margin-bottom: 20px;
        text-align: center;
        background-color: rgba(240, 238, 238, 0.726);
        display: inline-block;
        box-shadow: 6px 10px 20px -7px rgba(0,0,0,0.82);
        -webkit-box-shadow: 6px 10px 20px -7px rgba(0,0,0,0.82);
        -moz-box-shadow: 6px 10px 20px -7px rgba(0,0,0,0.82);
        transition: 400ms;
        &:hover{
            transform:scale(1.1);
        }
        img{
        width: 318px;
        height: 424px;
        // object-fit: cover;
        }
        p{
        padding: 15px;
        font-size: 12px;
        font-weight: 50px;
        line-height: 34px;
        letter-spacing: 4px;
        text-align: center;        
        }
        }
        }
    }
}

// /*--ACERCA DE MI--*/
// main{
//     section{
//         display: flex;
//         justify-content: center;
//         img{
//             width: 320px;
//             height: 480px;
//             margin: 40px 20px 20px 40px;
//         }
//         p{
//             margin: 40px;
//             display: flex;
//             align-items: center;
//         }
//     }
// }




/*--BLOG--*/





/*--BODAS--*/





/*--RETRATOS--*/